<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="src/main.css" />
  </head>
  <body>
    <section class="main">
      <div class="content">
        <div class="first">
          <div class="text">
            <div><h3>General Store</h3></div>
            <div>
              <h1>Grocery Delivery Application</h1>
              <p></p>
              <h2>get everything you need at your doorstep !</h2>
              <div class="btn">
                <a href="#">login as user</a><a href="#">login as vendor</a>
              </div>
            </div>
          </div>
        </div>
        <div class="second">
          <div class="image"></div>
        </div>
      </div>
    </section>
  </body>
</html>
